<div id='modalBackground' data-id='modalClose' class='fixed bg-white bg-opacity-50 w-full h-full z-40 inset-0 hidden'></div>
<div id='modalTemplate' data-id='modal' class='transition-opacity duration-500 fixed w-11/12 lg:w-5/12 h-full left-0 right-0 m-auto flex font-extrabold z-50 hidden'>
  <div data-id='modalCard' class='card relative m-auto w-4/5 shadow-lg rounded-2xl'>
    <div class='p-4 bg-gray-200 text-black rounded-t-2xl'>
      <span data-id='modalClose' class='float-right text-lg font-bold hover:text-gray-500 no-underline cursor-pointer'>&times;</span>
      <h2 data-id='modalTitle'>Modal Title</h2>
    </div>
    <div data-id='modalContent' class='p-8 bg-gray-100'>
    </div>
    <div class='p-2 text-white bg-gray-200 flex justify-end rounded-b-2xl'>
      <button data-id='modalCancelButton' class='bg-gray-800 hover:underline font-extrabold rounded py-4 px-8 shadow'>
        キャンセル
      </button>
      <button data-id='modalConfirmButton' class='bg-green-400 hover:underline font-extrabold rounded py-4 px-8 ml-2 shadow'>
        確認
      </button>
    </div>
  </div>
</div>

