<div id='backupEmailAddressFormTabContainer' class='hidden flex justify-center'>
  <div id='backupEmailAddressPermissionRequestContainer' class='flex justify-center hidden'>
    <button id='backupEmailAddressPermissionRequestBtn' data-id='xloginLoginBtn' data-permission='rw:auth:backupEmailAddress' class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'>XLogin</button>
  </div>
  <form id='backupEmailAddressForm' class='flex w-full hidden'>
    <div class='flex w-full group flex-col'>
      <label for='backupEmailAddressInput' class='text-sm text-gray-500 dark:text-gray-400'>Backup Email address</label>
      <input id='backupEmailAddressInput' type='email' class='block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer' placeholder='' required />
    </div>
    <button type='submit' class='flex text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto p-4 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'>Submit</button>
  </form>
</div>

