<div x-data="{
        bannerVisible: false,
        title: '',
        message: '',
        timeout: null,
        aceBanner($event) {
          this.bannerVisible = $event.detail.isVisible
          this.title = $event.detail.title
          this.message = $event.detail.message
          clearTimeout(this.timeout)
          this.timeout = setTimeout(() => {
            this.bannerVisible = false
          }, 3 * 1000)
        }
    }" 
    @ace-banner.window="aceBanner($event)"
    x-show="bannerVisible"
    x-transition:enter="transition ease-out duration-500"
    x-transition:enter-start="translate-y-full"
    x-transition:enter-end="translate-y-0"
    x-transition:leave="transition ease-in duration-300"
    x-transition:leave-start="translate-y-0"
    x-transition:leave-end="translate-y-full"
    class="fixed bottom-0 left-0 w-full h-auto py-2 duration-300 ease-out bg-black shadow-sm sm:py-0 sm:h-10" x-cloak>
    <div class="flex items-center justify-between w-full h-full px-3 mx-auto max-w-7xl ">
        <a href="#" class="flex flex-col w-full h-full text-xs leading-6 text-white duration-150 ease-out sm:flex-row sm:items-center opacity-80 hover:opacity-100">
            <span class="flex items-center">
                <strong class="font-semibold" x-text="title" x-cloak>エラーが発生しました。</strong><span class="hidden w-px h-4 mx-3 rounded-full sm:block bg-neutral-700"></span>
            </span>
            <span class="block pt-1 pb-2 leading-none sm:inline sm:pt-0 sm:pb-0" x-text="message"></span>
        </a>
        <button @click="bannerVisible=false" class="flex items-center flex-shrink-0  translate-x-1 ease-out duration-150 justify-center w-6 h-6 p-1.5 text-white rounded-full hover:bg-neutral-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-full h-full"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>
        </button>
    </div>
</div>

