<div id='editorTabContainer' class='hidden'>
  <h5 class='block mb-2 text-sm text-center'>INTRODUCTION</h5>

  <div id='filePermissionRequestContainer' class='flex justify-center hidden'>
    <button id='filePermissionRequestBtn' data-id='xloginLoginBtn' data-permission='rw:$CLIENT_ID:json_v1' class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'>XLogin</button>
  </div>
  <div id='editorContainer' class='hidden'>
    <textarea id='messageContent' rows='4' class='block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-100 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4' placeholder='hi everyone!'></textarea>
    <div class='flex justify-between w-full'>
      <button id='saveMessageBtn' class='w-60 px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out'>save introduction</button>
      <button id='deleteMessageBtn' class='w-60 px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out'>delete introduction</button>
    </div>
  </div>
</div>

