<ul class="my-2 divide-solid divide-y divide-gray-100"
    x-data="{
            isLogin: false
             }"
  >
  <li class="py-2">
    <ul class="space-y-1">
      <li>
        <a
          href="#"
          class="flex items-center gap-2 border-s-[3px] border-blue-500 bg-blue-50 px-4 py-3 text-blue-700"
          >
          <svg class="size-5 opacity-75" viewBox="0 0 24 24" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><defs><style>.cls-1{fill:none;stroke:#020202;stroke-miterlimit:10;stroke-width:1.91px;}</style></defs><circle class="cls-1" cx="12" cy="7.25" r="5.73"></circle><path class="cls-1" d="M1.5,23.48l.37-2.05A10.3,10.3,0,0,1,12,13h0a10.3,10.3,0,0,1,10.13,8.45l.37,2.05"></path></g></svg>
          <span class="text-sm font-medium">アカウント設定</span>
        </a>
      </li>
      <li x-show="!isLogin">
        <a
          href="#"
          class="flex items-center gap-2 border-s-[3px] border-transparent px-4 py-3 text-gray-500 hover:border-gray-100 hover:bg-gray-50 hover:text-gray-700"
          >
          <svg class="size-5 opacity-75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M13 12L21 12" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M16 15L13.087 12.087V12.087C13.039 12.039 13.039 11.961 13.087 11.913V11.913L16 9" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M16 5V4.5V4.5C16 3.67157 15.3284 3 14.5 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H14.5C15.3284 21 16 20.3284 16 19.5V19.5V19" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            <span class="text-sm font-medium">ログイン</span>
        </a>
      </li>
      <li x-show="isLogin">
        <a
          href="#"
          class="flex items-center gap-2 border-s-[3px] border-transparent px-4 py-3 text-gray-500 hover:border-gray-100 hover:bg-gray-50 hover:text-gray-700"
          >
          <svg class="size-5 opacity-75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M21 12L13 12" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M18 15L20.913 12.087V12.087C20.961 12.039 20.961 11.961 20.913 11.913V11.913L18 9" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M16 5V4.5V4.5C16 3.67157 15.3284 3 14.5 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H14.5C15.3284 21 16 20.3284 16 19.5V19.5V19" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            <span class="text-sm font-medium">ログアウト</span>
        </a>
      </li>

    </ul>
  </li>
  <li class="py-2">
    <ul class="space-y-1">
      <li>
        <a
          href="#"
          class="flex items-center gap-2 border-s-[3px] border-transparent px-4 py-3 text-gray-500 hover:border-gray-100 hover:bg-gray-50 hover:text-gray-700"
          >
<svg class="size-5 opacity-75" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>about</title> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="about-white" fill="#000000" transform="translate(42.666667, 42.666667)"> <path d="M213.333333,3.55271368e-14 C95.51296,3.55271368e-14 3.55271368e-14,95.51168 3.55271368e-14,213.333333 C3.55271368e-14,331.153707 95.51296,426.666667 213.333333,426.666667 C331.154987,426.666667 426.666667,331.153707 426.666667,213.333333 C426.666667,95.51168 331.154987,3.55271368e-14 213.333333,3.55271368e-14 Z M213.333333,384 C119.227947,384 42.6666667,307.43872 42.6666667,213.333333 C42.6666667,119.227947 119.227947,42.6666667 213.333333,42.6666667 C307.44,42.6666667 384,119.227947 384,213.333333 C384,307.43872 307.44,384 213.333333,384 Z M240.04672,128 C240.04672,143.46752 228.785067,154.666667 213.55008,154.666667 C197.698773,154.666667 186.713387,143.46752 186.713387,127.704107 C186.713387,112.5536 197.99616,101.333333 213.55008,101.333333 C228.785067,101.333333 240.04672,112.5536 240.04672,128 Z M192.04672,192 L234.713387,192 L234.713387,320 L192.04672,320 L192.04672,192 Z" id="Shape"> </path> </g> </g> </g></svg>
            <span class="text-sm font-medium">xloginとは</span>
        </a>
      </li>

      <li>
        <a
          href="#"
          class="flex items-center gap-2 border-s-[3px] border-transparent px-4 py-3 text-gray-500 hover:border-gray-100 hover:bg-gray-50 hover:text-gray-700"
          >
          <svg class="size-5 opacity-75" viewBox="0 0 192 192" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g style="stroke-width:11.9994;stroke-dasharray:none" transform="matrix(1.00006 0 0 1.00005 -.005 -.005)"> <circle cx="149.333" cy="42.666" r="20.663" style="fill:none;fill-opacity:.4;stroke:#000000;stroke-width:11.9994;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:5;stroke-dasharray:none;stroke-opacity:1"></circle> <circle cx="149.333" cy="96" r="20.663" style="fill:none;fill-opacity:.4;stroke:#000000;stroke-width:11.9994;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:5;stroke-dasharray:none;stroke-opacity:1"></circle> <circle cx="149.333" cy="149.334" r="20.663" style="fill:none;fill-opacity:.4;stroke:#000000;stroke-width:11.9994;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:5;stroke-dasharray:none;stroke-opacity:1"></circle> <circle cx="96" cy="42.666" r="20.663" style="fill:none;fill-opacity:.4;stroke:#000000;stroke-width:11.9994;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:5;stroke-dasharray:none;stroke-opacity:1"></circle> <circle cx="96" cy="96" r="20.663" style="fill:none;fill-opacity:.4;stroke:#000000;stroke-width:11.9994;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:5;stroke-dasharray:none;stroke-opacity:1"></circle> <circle cx="96" cy="149.334" r="20.663" style="fill:none;fill-opacity:.4;stroke:#000000;stroke-width:11.9994;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:5;stroke-dasharray:none;stroke-opacity:1"></circle> <circle cx="42.666" cy="42.666" r="20.663" style="fill:none;fill-opacity:.4;stroke:#000000;stroke-width:11.9994;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:5;stroke-dasharray:none;stroke-opacity:1"></circle> <circle cx="42.666" cy="96" r="20.663" style="fill:none;fill-opacity:.4;stroke:#000000;stroke-width:11.9994;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:5;stroke-dasharray:none;stroke-opacity:1"></circle> <circle cx="42.666" cy="149.334" r="20.663" style="fill:none;fill-opacity:.4;stroke:#000000;stroke-width:11.9994;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:5;stroke-dasharray:none;stroke-opacity:1"></circle> </g> </g></svg>
            <span class="text-sm font-medium">アプリ一覧</span>
        </a>
      </li>
    </ul>
  </li>

  <li class="py-2">
    <ul class="space-y-1">
      <li>
        <a
          href="#"
          class="flex items-center gap-2 border-s-[3px] border-transparent px-4 py-3 text-gray-500 hover:border-gray-100 hover:bg-gray-50 hover:text-gray-700"
          >
          <svg class="size-5 opacity-75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M11.713 7.14977C12.1271 7.13953 12.4545 6.79555 12.4443 6.38146C12.434 5.96738 12.0901 5.63999 11.676 5.65023L11.713 7.14977ZM6.30665 12.193H7.05665C7.05665 12.1874 7.05659 12.1818 7.05646 12.1761L6.30665 12.193ZM6.30665 14.51L6.34575 15.259C6.74423 15.2382 7.05665 14.909 7.05665 14.51H6.30665ZM6.30665 17.6L6.26755 18.349C6.28057 18.3497 6.29361 18.35 6.30665 18.35L6.30665 17.6ZM9.41983 18.35C9.83404 18.35 10.1698 18.0142 10.1698 17.6C10.1698 17.1858 9.83404 16.85 9.41983 16.85V18.35ZM10.9445 6.4C10.9445 6.81421 11.2803 7.15 11.6945 7.15C12.1087 7.15 12.4445 6.81421 12.4445 6.4H10.9445ZM12.4445 4C12.4445 3.58579 12.1087 3.25 11.6945 3.25C11.2803 3.25 10.9445 3.58579 10.9445 4H12.4445ZM11.713 5.65023C11.299 5.63999 10.955 5.96738 10.9447 6.38146C10.9345 6.79555 11.2619 7.13953 11.676 7.14977L11.713 5.65023ZM17.0824 12.193L16.3325 12.1761C16.3324 12.1818 16.3324 12.1874 16.3324 12.193H17.0824ZM17.0824 14.51H16.3324C16.3324 14.909 16.6448 15.2382 17.0433 15.259L17.0824 14.51ZM17.0824 17.6V18.35C17.0954 18.35 17.1084 18.3497 17.1215 18.349L17.0824 17.6ZM13.9692 16.85C13.555 16.85 13.2192 17.1858 13.2192 17.6C13.2192 18.0142 13.555 18.35 13.9692 18.35V16.85ZM10.1688 17.6027C10.1703 17.1885 9.83574 16.8515 9.42153 16.85C9.00732 16.8485 8.67034 17.1831 8.66886 17.5973L10.1688 17.6027ZM10.0848 19.3L10.6322 18.7873L10.6309 18.786L10.0848 19.3ZM13.3023 19.3L12.7561 18.786L12.7549 18.7873L13.3023 19.3ZM14.7182 17.5973C14.7167 17.1831 14.3797 16.8485 13.9655 16.85C13.5513 16.8515 13.2167 17.1885 13.2182 17.6027L14.7182 17.5973ZM9.41788 16.85C9.00366 16.85 8.66788 17.1858 8.66788 17.6C8.66788 18.0142 9.00366 18.35 9.41788 18.35V16.85ZM13.9692 18.35C14.3834 18.35 14.7192 18.0142 14.7192 17.6C14.7192 17.1858 14.3834 16.85 13.9692 16.85V18.35ZM11.676 5.65023C8.198 5.73622 5.47765 8.68931 5.55684 12.2099L7.05646 12.1761C6.99506 9.44664 9.09735 7.21444 11.713 7.14977L11.676 5.65023ZM5.55665 12.193V14.51H7.05665V12.193H5.55665ZM6.26755 13.761C5.0505 13.8246 4.125 14.8488 4.125 16.055H5.625C5.625 15.6136 5.95844 15.2792 6.34575 15.259L6.26755 13.761ZM4.125 16.055C4.125 17.2612 5.0505 18.2854 6.26755 18.349L6.34575 16.851C5.95843 16.8308 5.625 16.4964 5.625 16.055H4.125ZM6.30665 18.35H9.41983V16.85H6.30665V18.35ZM12.4445 6.4V4H10.9445V6.4H12.4445ZM11.676 7.14977C14.2917 7.21444 16.3939 9.44664 16.3325 12.1761L17.8322 12.2099C17.9114 8.68931 15.191 5.73622 11.713 5.65023L11.676 7.14977ZM16.3324 12.193V14.51H17.8324V12.193H16.3324ZM17.0433 15.259C17.4306 15.2792 17.764 15.6136 17.764 16.055H19.264C19.264 14.8488 18.3385 13.8246 17.1215 13.761L17.0433 15.259ZM17.764 16.055C17.764 16.4964 17.4306 16.8308 17.0433 16.851L17.1215 18.349C18.3385 18.2854 19.264 17.2612 19.264 16.055H17.764ZM17.0824 16.85H13.9692V18.35H17.0824V16.85ZM8.66886 17.5973C8.66592 18.4207 8.976 19.2162 9.53861 19.814L10.6309 18.786C10.335 18.4715 10.1673 18.0473 10.1688 17.6027L8.66886 17.5973ZM9.53739 19.8127C10.0977 20.4109 10.8758 20.7529 11.6935 20.7529V19.2529C11.2969 19.2529 10.9132 19.0873 10.6322 18.7873L9.53739 19.8127ZM11.6935 20.7529C12.5113 20.7529 13.2894 20.4109 13.8497 19.8127L12.7549 18.7873C12.4739 19.0873 12.0901 19.2529 11.6935 19.2529V20.7529ZM13.8484 19.814C14.4111 19.2162 14.7211 18.4207 14.7182 17.5973L13.2182 17.6027C13.2198 18.0473 13.0521 18.4715 12.7561 18.786L13.8484 19.814ZM9.41788 18.35H13.9692V16.85H9.41788V18.35Z" fill="#000000"></path> </g></svg>
            <span class="text-sm font-medium">通知</span>
        </a>
      </li>

      <li>
        <a
          href="#"
          class="flex items-center gap-2 border-s-[3px] border-transparent px-4 py-3 text-gray-500 hover:border-gray-100 hover:bg-gray-50 hover:text-gray-700"
          >
          <svg class="size-5 opacity-75" fill="#000000" height="200px" width="200px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 395 395" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M265.19,384.693c0.128,1.138,0.035,2.267-0.25,3.327c-0.243,0.908-0.625,1.772-1.121,2.543 c-1.07,1.668-2.69,3.008-4.679,3.681c-0.292,0.1-0.59,0.223-0.895,0.293c-0.673,0.154-1.346,0.307-2.009,0.307 c-0.09,0-0.18,0.155-0.27,0.155h-54.021c-4.971,0-9-4.029-9-9s4.029-9,9-9h42.847l-23.774-97.944 c-3.651-15.024-22.953-28.017-43.356-29.626c-6.952,11.05-21.072,18.35-36.69,18.35c-15.618,0-29.737-7.24-36.688-18.29 c-20.402,1.609-39.705,14.533-43.357,29.556L37.153,377H80c4.971,0,9,4.029,9,9s-4.029,9-9,9H25.979 c-0.755,0-1.521-0.208-2.289-0.385c-0.299-0.068-0.593-0.311-0.88-0.409c-1.985-0.671-3.538-1.987-4.609-3.65 c-0.002-0.004,0.06-0.009,0.06-0.012v-0.005c-1-0.78-0.953-1.65-1.196-2.57c-0.278-1.049-0.402-2.173-0.277-3.297 c0.05-0.465,0.119-0.949,0.238-1.39l26.419-108.767C49.361,250.182,77.958,231,108.558,231h1.237c3.844,0,7.264,2.531,8.512,6.168 c2.119,6.173,10.585,12.512,22.666,12.512c12.082,0,20.548-6.309,22.667-12.483c1.248-3.636,4.668-6.197,8.512-6.197h1.237 c30.604,0,59.208,19.182,65.121,43.516l26.427,108.826C265.054,383.778,265.14,384.233,265.19,384.693z M132.825,129 c0-4.971-4.029-9-9-9h-10c-4.971,0-9,4.029-9,9s4.029,9,9,9h10C128.796,138,132.825,133.971,132.825,129z M158.122,138h10.001 c4.971,0,9-4.029,9-9s-4.029-9-9-9h-10.001c-4.971,0-9,4.029-9,9S153.151,138,158.122,138z M70.137,149.596 c2.608,0.428,5.101-0.305,7.118-2.014c2.017-1.71,3.005-4.221,3.005-6.865v-17.225c0-33.132,27.147-60.086,60.278-60.086 c1.61,0,3.302,0.063,4.88,0.188c-8.341,12.948-20.417,22.306-34.067,26.124c-4.787,1.339-7.558,6.305-6.219,11.092 c1.339,4.787,6.322,7.588,11.104,6.242c19.756-5.525,36.941-19.668,47.574-39.035c21.707,9.067,37.005,30.519,37.005,55.475 c0,25.727-16.18,48.098-39.998,56.496c-2.833-2.391-6.489-3.988-10.477-3.988h-19.217c-8.971,0-16.269,7.529-16.269,16.5 s7.298,16.5,16.269,16.5h19.217c7.276,0,13.452-4.878,15.525-11.48c23.194-7.841,40.771-25.968,48.516-48.454 c10.454-2.538,16.878-9.052,16.878-17.033v-19.949c0-8.283-6.928-14.943-18.072-17.264c-11.454-28.912-39.607-49.414-72.547-49.414 c-32.984,0-61.246,20.554-72.669,49.527c-10.838,2.419-17.712,8.999-17.712,17.15v19.949 C50.261,140.702,58.084,147.596,70.137,149.596z M288.111,91c4.971,0,9-4.029,9-9s-4.029-9-9-9h-0.75c-4.971,0-9,4.029-9,9 s4.029,9,9,9H288.111z M319.39,91c4.971,0,9-4.029,9-9s-4.029-9-9-9h-0.749c-4.971,0-9,4.029-9,9s4.029,9,9,9H319.39z M340.146,0 h-104.82c-21.275,0-38.584,17.467-38.584,38.742c0,4.971,4.029,9.079,9,9.079s9-4.148,9-9.119c0-11.35,9.234-20.703,20.584-20.703 h104.82c11.35,0,20.115,9.551,20.115,20.9v86.867c0,11.351-8.766,20.232-20.115,20.232h-87.718c-2.833,0-5.501,1.51-7.201,3.778 l-29.611,39.587c-2.981,3.977-2.174,9.662,1.803,12.644c1.619,1.214,3.513,1.822,5.392,1.822c2.737,0,5.44-1.409,7.208-3.768 L256.929,164h83.217c21.275,0,38.115-16.957,38.115-38.232V38.9C378.261,17.625,361.421,0,340.146,0z M256.832,91 c4.971,0,9-4.029,9-9s-4.029-9-9-9h-0.75c-4.971,0-9,4.029-9,9s4.029,9,9,9H256.832z"></path> </g></svg>
            <span class="text-sm font-medium">問い合わせ</span>
        </a>
      </li>
    </ul>
  </li>

</ul> 

