<div>
  <label for='ocrResult' class='block text-sm font-medium text-gray-700'>結果</label>

  <textarea
    id='ocrResult'
    class='h-60 p-4 mt-2 w-full rounded-lg border-gray-200 align-top shadow-sm sm:text-sm'
    rows='4'
    placeholder='ここに結果が表示されます。'
  ></textarea>
</div>

