<!-- MIT License https://tailwind-elements.com/docs/standard/components/cards/ -->
<div class='flex justify-center'>
  <div class='flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg items-center'>
    <img class='m-4 w-36 h-36 md:mt-0 md:h-auto object-cover md:w-48 rounded-lg' src='/img/profile.png' alt='profile img' />
    <div class='p-6 flex flex-col justify-start break-all'>
      <h5 class='text-gray-900 text-xl font-medium mb-2 text-center'>Profile</h5>
      <p class='text-gray-700 text-base mb-4'>ユーザー名: <span data-var='auth:userName'>取得できません</span></p>
      <p class='text-gray-700 text-base mb-4'>メールアドレス: <span data-var='auth:emailAddress'>取得できません</span></p>
      <p class='text-gray-600 text-xs'>サービスユーザーID(sample_localhost): <span data-var='sample_localhost:serviceUserId'>取得できません</span></p>
      <p class='text-gray-600 text-xs'>サービスユーザーID(sample_xlogin_jp): <span data-var='sample_xlogin_jp:serviceUserId'>取得できません</span></p>
    </div>
  </div>
</div>

